@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,2,300,400,500,600,700,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
