@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,2,300,400,500,600,700,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
  }
}

* {
  box-sizing: border-box;
}
